
/* Common designs */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

header, footer {
    width: 100vw;
    height: 100px;
    display: flex;
    background-color: #1a181b;
    font-family: sans-serif;
    position: sticky;
    top: 0;
}

.main_body {
    height: 100vh;
    width: 100vw;
    background-color: #564d65;
    display: inline-grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 40% 50%;
    grid-template-areas: 
        ".      welcome       ."
        ".      sign_up_block       ."
        ".      discription       ."
}

h1 {
    font-family: "Abril Fatface", sans-serif;
    font-weight: 400;
    color: #3e8989;
    text-shadow: 1px 1px 10px #1a181b, 1px 1px 10px #1a181b;
    

}
header {
    justify-content: flex-end;
}

nav {
    padding: 30px 10%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 20px;
    padding-top: 11px;
    font-family: "Abril Fatface", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Abril Fatface" sans-serif;
    font-weight: 400;
}

.logo {
    margin-right: auto;
    padding: 30px 10%;
    display: flex;
    align-items: center;
    justify-self: center;
    cursor: pointer;
    transition: all ease-in-out .5s .5s;
}
.logo:hover {
    text-shadow: 1px 1px 5px #ffffff;

}
#logo_ahr {
    font-family: "Dancing Script";
    font-size: xx-large;
    font-weight: 600;
}

input, button {
    height: 40px;
    width: 70%;
    padding-left: 10px;
    border-radius: 20px;
    color: black;
    font-size: medium;
}
.sub_btn {
    font-size: medium;
    width: 100px;
    height: 40px;
    padding: 0;
    font-family: "Abril Fatface", sans-serif;
    font-weight: 400;
    color: white;
    background-color: #3e8989;
    transition: all ease .1s .1s;
}
.sub_btn:hover {
    width: 110px;
    height: 45px;
    border-radius: 25px;
    background-color: #317272;
}
.sub_btn:active {
    transform: translateY(5px);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    color: white;
    font-size: medium;
}

/* Sign Up Page design */

.welcome_text_signup {
    font-family: "Abril Fatface", sans-serif;
    font-weight: 400;
    grid-area: welcome;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large
}

.sign_up_block {
    grid-area: sign_up_block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign_up_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.signup_discription {
    font-family: sans-serif;
    color: white;
    font-weight: 100;
    font-size: xx-large ;
    grid-area: discription;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sign In Page design */

.welcome_text_login {
    font-family: "Abril Fatface", sans-serif;
    font-weight: 400;
    grid-area: welcome;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large
}

.sign_in_block {
    grid-area: sign_up_block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign_in_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.login_discription {
    font-family: sans-serif;
    color: white;
    font-weight: 100;
    font-size: xx-large ;
    grid-area: discription;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .login_discription {
        font-size: x-large;
    }
    .signup_discription {
        font-size: x-large;
    }
    .welcome_text_login {
        font-size: x-large;
    }
    .welcome_text_signup {
        font-size: x-large;
    }
    .footer {
        font-size: small;
    }
}

@media (max-width: 560px) {
    .login_discription {
        font-size: medium;
    }
    .signup_discription{
        font-size: medium;
    }
    .welcome_text_login {
        font-size: medium;
    }
    .welcome_text_signup {
        font-size: medium;
    }
    .main_body {
        grid-template-columns: 5% 80% 5%;
    }
}

/* animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade_in_animation {
    opacity: 0;
    animation: fadeIn .2s ease-in-out forwards;
}

.red_placeholder::placeholder {
    color: red 
}